<div class="mr-md">
  <section class="mr-tp-md">
    <span class="underline">Virtual Machine( Windows)</span>
    <ul>
      <li>Created an Windows Virtual Machine and Configured IIS</li>
      <li>Installed Necessary Packages into the vm</li>
      <li>Published the Dotnet Project to Virtual VM created</li>
    </ul>
    <span class="underline mr-tp-md"> Virtual Machine( Linux)</span>
    <ul>
      <li>Created an Linux Virtual Machine</li>
      <li>Installed Necessary Packages into the vm</li>
      <li>Published the Dotnet Project to Virtual VM created</li>
    </ul>
  </section>
  <section class="mr-tp-md">
    <span class="underline">Docker and Containarisation</span>
    <ul>
      <li>
        Downloaded the Docker for windows and downloaded ubuntu and made Windows
        Subsystem for Linux
      </li>
      <li>created some sample Application in the dotnet</li>
      <li>
        Using the Docker File tried deploying the created application as image
        to docker hub
      </li>
      <li>
        Downloaded the image and deployed the same Azure Linux Virtual Machine
        created.
      </li>
      <li>
        Using the Docker File tried deploying the created application as image
        to Azure Container Registry
      </li>
      <li>
        From Azure Container Registry deployed the App to Azure Container
        instance.
      </li>
    </ul>
  </section>
  <section class="mr-tp-md">
    <span class="underline">Azure Key Vault</span>
    <ul>
      <li>
        Created sample Application how to create Secret via console Application
      </li>
      <li>Created sample Application how to create Key</li>
      <li>Learnt How to provide access to Application Object or to the User</li>
      <li>RBAC access vs Access Keys [fine level access restriction]</li>
    </ul>
  </section>
  <section class="mr-tp-md">
    <span class="underline">Azure AD</span>
    <ul>
      <li>Created few user</li>
      <li>Worked how to give access to resource to Another user</li>
      <li>
        How to use Application Object as Role and grant access and how to make
        application have access instead of the Connection strings
      </li>
      <li>RBAC access vs Access Keys [fine level access restriction]</li>
    </ul>
  </section>
</div>
