<nav class="navigation">
    <!-- Navigation List section of the Application -->
    <ul class="navigation__list">
      <li routerLinkActive="router-active" [routerLink]="['support']" class="navigation__item"><a class="navigation__link">Support Ticket</a></li>
      <li routerLinkActive="router-active"  [routerLink]="['tickets']" class="navigation__item">
        <a class="navigation__link">Tickets</a>
      </li>
      <li routerLinkActive="router-active" [routerLink]="['azure-implemented']" class="navigation__item"><a class="navigation__link">Azure Resources - DEMO </a></li>
      <li routerLinkActive="router-active" [routerLink]="['azure-concept-learnt']" class="navigation__item"><a class="navigation__link">Azure Labs and Learnt</a></li>
    </ul>
  </nav>