@import "utility";
///Colors
$color-primary: (
  dark: rgb(22, 22, 228),
  medium: rgb(57, 57, 224),
  light: #ffaa00,
);

//SVG
$svg-filter-theme: invert(42%) sepia(99%) saturate(733%) hue-rotate(157deg)
  brightness(96%) contrast(101%);

// accent
$color-accent-red: #0a031e;
$color-accent-green: #51b960;
$color-accent-yellow: #007fff;

//text
$color-text-gray-100: rgba(0, 0, 0, 0.95);
$color-text-gray-80: #3a3a3a;
$color-text-gray-60: #a6a6aa;
$color-text-gray-50: #cccccc;
$color-text-gray-40: #cbcbd4;
$color-white: #fff;

//background
$color-bg-white: #fff;
$color-bg-gray-20: #f8f7fa;
$color-bg-gray-30: #f2f2f2;

//boxshawdow
$box-shawdow-light: 0px 1px 3px rgba(0, 0, 0, 0.15);
$box-shawdow-medium: 0px 1px 3px rgba(0, 0, 0, 0.15);
$box-shawdow-large: 0px 1px 3px rgba(0, 0, 0, 0.15);

//z-index
$z-index-lw: 10;
$zindex-lw-next: 20;
$z-index-md: 30;
$z-index-md-next: 40;
$z-index-lg: 100;
$z-index-lg-next: 110;
$z-index-xlg: 1000;
$z-index-xlg-next: 2000;
$z-index-xxlg: 10000;

///Font Size
$small-font-size: 1.3rem;
$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$medium-next-font-size: 2.5rem;
$larger-font-size: 3.5rem;
$largest-font-size: 5.5rem;

/// BreakPoints
$bp-largest: 1200px;
$bp-large: 1000px;
$bp-medium-next: 900px;
$bp-medium: 800px;
$bp-small: 600px;
$bp-smallest: 450px;

///Buttons
.btn {
  color: inherit;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: inherit;
  background-color: inherit;
}

.btn:hover > .arrow-submit,
.btn:active > .arrow-submit {
  transform: translateX(15px);
}

.btn-cta {
  padding: 1.5rem;
  background-color: $color-accent-yellow;
  color: $color-text-gray-80;
  color: $color-white;
  font-weight: 600;
  align-self: flex-end;
  flex: 1;
  border: 1px solid $color-accent-yellow;
  box-shadow: $box-shawdow-light;
}

.btn-outline {
  background-color: white;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: map-get($color-primary, medium);
}

.btn-cta {
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .arrow-submit {
    margin-left: 1rem;
    @include svg($svg-filter-theme, 1.5rem);
  }
}

.btn-contact {
  display: flex;
  align-items: center;
  width: fit-content;

  svg {
    @include svg($svg-filter-theme, 1rem);
  }

  &:hover,
  &:active,
  &:focus {
    color: map-get($color-primary, medium);
    transform: ScaleY(1.05);
  }
}

/// Form Elements
.drop-down {
  display: inline-block;
  padding: 2rem !important;
  border-radius: 2px;
  font-size: $default-font-size;
  color: $color-accent-red;
  font-weight: 400;
  width: 100%;
}

.input-text {
  color: $color-text-gray-80;
  border: none;
  padding: 2rem;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

.input-text:focus {
  outline-color: $color-text-gray-40;
}

textarea:disabled,
textarea[disabled],
input:disabled,
input[disabled] {
  border: 1px solid $color-text-gray-50;
  background-color: $color-text-gray-50;
  color: $color-text-gray-80;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  color: inherit;
  font-family: inherit;
}

////Table
#table-contact {
  font-family: inherit;
  border-collapse: collapse;
  width: 95%;
  border: 2px solid $color-accent-yellow;

  @media only screen and (max-width: $bp-small) {
    width: 90%;
    margin: 0;
    margin-left: 0.5rem;
  }
}

#table-contact td {
  padding: 8px;
  border: 1px solid $color-accent-yellow;
}

#table-contact tr:hover,
#table-contact tr:active {
  background-color: $color-white;
}

#table-contact th {
  padding: 8px;
  background-color: $color-accent-yellow;
  color: $color-white;
}

 

@media only screen and (max-width: $bp-small) {
  #table-contact tr th:nth-child(4),
  #table-contact tr td:nth-child(4) {
    display: none;
  }
}

#table-contact tr td:last-of-type,
#table-contact tr td:nth-last-child(2) {
  text-align: center;
}

svg {
  @include svg($svg-filter-theme);
}

///Grid Reusable compoenent

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.full-length {
  grid-column: 1/-1;
}

.underline {
  border-bottom: 1px solid blue;
  color: blue;
}
